version: '2'
services:
  starter:
    container_name: starter
    build:
      context: .
    command: ["yarn", "dev"]
    ports:
      - 3000:3000
    volumes:
      - .:/usr/src/app/
    environment:
      - NODE_PATH=.
      - DEBUG_COLORS=true
      - DEBUG=starter:*
      - PORT=3000
      - HOST=starter
    depends_on:
      - elasticsearch
  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:5.3.2
    ports:
      - 9200:9200
